FineUIPro.Web/Service References/HSSEService/HSSEService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.localhost.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="HSSEServiceEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.localhost.com" location="http://localhost/CNCEHSSE/HSSEService.svc?wsdl" />
  <wsdl:types />
  <wsdl:binding name="HSSEServiceEndpoint" type="i0:HSSEService">
    <wsp:PolicyReference URI="#HSSEServiceEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSys_VersionToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetSys_VersionToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBase_UnitToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetBase_UnitToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInformation_UrgeReportToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetInformation_UrgeReportToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLaw_LawRegulationListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetLaw_LawRegulationListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLaw_HSSEStandardsListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetLaw_HSSEStandardsListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLaw_RulesRegulationsToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetLaw_RulesRegulationsToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLaw_ManageRuleToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetLaw_ManageRuleToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTechnique_HAZOPToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetTechnique_HAZOPToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTechnique_AppraiseToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetTechnique_AppraiseToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTechnique_EmergencyToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetTechnique_EmergencyToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTechnique_SpecialSchemeToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetTechnique_SpecialSchemeToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTraining_TrainingListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetTraining_TrainingListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTraining_TrainingItemListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetTraining_TrainingItemListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTraining_TrainTestDBListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetTraining_TrainTestDBListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTraining_TrainTestDBItemListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetTraining_TrainTestDBItemListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEduTrain_AccidentCaseListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetEduTrain_AccidentCaseListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEduTrain_AccidentCaseItemListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetEduTrain_AccidentCaseItemListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTraining_KnowledgeListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetTraining_KnowledgeListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTraining_KnowledgeItemListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetTraining_KnowledgeItemListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTechnique_HazardListTypeListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetTechnique_HazardListTypeListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTechnique_HazardListListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetTechnique_HazardListListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTechnique_RectifyListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetTechnique_RectifyListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTechnique_RectifyItemListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetTechnique_RectifyItemListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTechnique_ExpertListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetTechnique_ExpertListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupervise_SuperviseCheckRectifyListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetSupervise_SuperviseCheckRectifyListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupervise_SubUnitReportListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetSupervise_SubUnitReportListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupervise_SubUnitReportItemListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetSupervise_SubUnitReportItemListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheck_CheckRectifyListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetCheck_CheckRectifyListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheck_CheckInfo_Table8ItemListToSUB">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/GetCheck_CheckInfo_Table8ItemListToSUB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertLaw_LawRegulationListTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertLaw_LawRegulationListTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertLaw_HSSEStandardsListTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertLaw_HSSEStandardsListTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertLaw_RulesRegulationsTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertLaw_RulesRegulationsTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertLaw_ManageRuleTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertLaw_ManageRuleTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertTechnique_HAZOPTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertTechnique_HAZOPTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertTechnique_AppraiseTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertTechnique_AppraiseTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertTechnique_EmergencyTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertTechnique_EmergencyTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertTechnique_SpecialSchemeTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertTechnique_SpecialSchemeTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertInformation_AccidentCauseReportTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertInformation_AccidentCauseReportTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertInformation_DrillConductedQuarterlyReportTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertInformation_DrillConductedQuarterlyReportTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertInformation_DrillPlanHalfYearReportTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertInformation_DrillPlanHalfYearReportTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertInformation_MillionsMonthlyReportTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertInformation_MillionsMonthlyReportTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertInformation_SafetyQuarterlyReportTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertInformation_SafetyQuarterlyReportTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertTraining_TrainingItemTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertTraining_TrainingItemTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertTraining_TrainTestDBItemTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertTraining_TrainTestDBItemTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertEduTrain_AccidentCaseItemTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertEduTrain_AccidentCaseItemTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertTraining_KnowledgeItemTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertTraining_KnowledgeItemTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertTechnique_HazardListTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertTechnique_HazardListTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertTechnique_RectifyItemTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertTechnique_RectifyItemTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertTechnique_ExpertTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertTechnique_ExpertTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertSupervise_SuperviseCheckRectifyTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertSupervise_SuperviseCheckRectifyTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertHSSESystem_HSSEManageItemTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertHSSESystem_HSSEManageItemTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertSupervise_UpCheckReportTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertSupervise_UpCheckReportTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertSupervise_SubUnitReportItemItemTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertSupervise_SubUnitReportItemItemTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertCheck_CheckRectifyTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertCheck_CheckRectifyTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertHSSESystem_HSSEOrganizeTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertHSSESystem_HSSEOrganizeTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataInsertSys_SubUnitLogListTable">
      <soap12:operation soapAction="http://www.localhost.com/HSSEService/DataInsertSys_SubUnitLogListTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>