FineUIPro.Web/Service References/HSSEService/HSSEService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.localhost.com" elementFormDefault="qualified" targetNamespace="http://www.localhost.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/cncechsse/HSSEService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BLL.OpenService" />
  <xs:import schemaLocation="http://localhost/cncechsse/HSSEService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetSys_VersionToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSys_VersionToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetSys_VersionToSUBResult" nillable="true" type="q1:ArrayOfSys_Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBase_UnitToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBase_UnitToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetBase_UnitToSUBResult" nillable="true" type="q2:ArrayOfBase_Unit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformation_UrgeReportToSUB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unitId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInformation_UrgeReportToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetInformation_UrgeReportToSUBResult" nillable="true" type="q3:ArrayOfInformation_UrgeReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaw_LawRegulationListToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaw_LawRegulationListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetLaw_LawRegulationListToSUBResult" nillable="true" type="q4:ArrayOfLaw_LawRegulationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaw_HSSEStandardsListToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaw_HSSEStandardsListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetLaw_HSSEStandardsListToSUBResult" nillable="true" type="q5:ArrayOfLaw_HSSEStandardsList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaw_RulesRegulationsToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaw_RulesRegulationsToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetLaw_RulesRegulationsToSUBResult" nillable="true" type="q6:ArrayOfLaw_RulesRegulations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaw_ManageRuleToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaw_ManageRuleToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetLaw_ManageRuleToSUBResult" nillable="true" type="q7:ArrayOfLaw_ManageRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_HAZOPToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_HAZOPToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetTechnique_HAZOPToSUBResult" nillable="true" type="q8:ArrayOfTechnique_HAZOP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_AppraiseToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_AppraiseToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetTechnique_AppraiseToSUBResult" nillable="true" type="q9:ArrayOfTechnique_Appraise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_EmergencyToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_EmergencyToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetTechnique_EmergencyToSUBResult" nillable="true" type="q10:ArrayOfTechnique_Emergency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_SpecialSchemeToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_SpecialSchemeToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetTechnique_SpecialSchemeToSUBResult" nillable="true" type="q11:ArrayOfTechnique_SpecialScheme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraining_TrainingListToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraining_TrainingListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetTraining_TrainingListToSUBResult" nillable="true" type="q12:ArrayOfTraining_Training" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraining_TrainingItemListToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraining_TrainingItemListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetTraining_TrainingItemListToSUBResult" nillable="true" type="q13:ArrayOfTraining_TrainingItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraining_TrainTestDBListToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraining_TrainTestDBListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetTraining_TrainTestDBListToSUBResult" nillable="true" type="q14:ArrayOfTraining_TrainTestDB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraining_TrainTestDBItemListToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraining_TrainTestDBItemListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetTraining_TrainTestDBItemListToSUBResult" nillable="true" type="q15:ArrayOfTraining_TrainTestDBItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEduTrain_AccidentCaseListToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEduTrain_AccidentCaseListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetEduTrain_AccidentCaseListToSUBResult" nillable="true" type="q16:ArrayOfEduTrain_AccidentCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEduTrain_AccidentCaseItemListToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEduTrain_AccidentCaseItemListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetEduTrain_AccidentCaseItemListToSUBResult" nillable="true" type="q17:ArrayOfEduTrain_AccidentCaseItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraining_KnowledgeListToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraining_KnowledgeListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetTraining_KnowledgeListToSUBResult" nillable="true" type="q18:ArrayOfTraining_Knowledge" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraining_KnowledgeItemListToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraining_KnowledgeItemListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetTraining_KnowledgeItemListToSUBResult" nillable="true" type="q19:ArrayOfTraining_KnowledgeItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_HazardListTypeListToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_HazardListTypeListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetTechnique_HazardListTypeListToSUBResult" nillable="true" type="q20:ArrayOfTechnique_HazardListType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_HazardListListToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_HazardListListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetTechnique_HazardListListToSUBResult" nillable="true" type="q21:ArrayOfTechnique_HazardList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_RectifyListToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_RectifyListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetTechnique_RectifyListToSUBResult" nillable="true" type="q22:ArrayOfTechnique_Rectify" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_RectifyItemListToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_RectifyItemListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetTechnique_RectifyItemListToSUBResult" nillable="true" type="q23:ArrayOfTechnique_RectifyItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_ExpertListToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnique_ExpertListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetTechnique_ExpertListToSUBResult" nillable="true" type="q24:ArrayOfTechnique_Expert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupervise_SuperviseCheckRectifyListToSUB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unitId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupervise_SuperviseCheckRectifyListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetSupervise_SuperviseCheckRectifyListToSUBResult" nillable="true" type="q25:ArrayOfSupervise_SuperviseCheckRectify" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupervise_SubUnitReportListToSUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupervise_SubUnitReportListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetSupervise_SubUnitReportListToSUBResult" nillable="true" type="q26:ArrayOfSupervise_SubUnitReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupervise_SubUnitReportItemListToSUB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unitId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupervise_SubUnitReportItemListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetSupervise_SubUnitReportItemListToSUBResult" nillable="true" type="q27:ArrayOfSupervise_SubUnitReportItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheck_CheckRectifyListToSUB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unitId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheck_CheckRectifyListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetCheck_CheckRectifyListToSUBResult" nillable="true" type="q28:ArrayOfCheck_CheckRectify" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheck_CheckInfo_Table8ItemListToSUB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unitId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheck_CheckInfo_Table8ItemListToSUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="GetCheck_CheckInfo_Table8ItemListToSUBResult" nillable="true" type="q29:ArrayOfCheck_CheckInfo_Table8Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertLaw_LawRegulationListTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="lawRegulationList" nillable="true" type="q30:ArrayOfLaw_LawRegulationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertLaw_LawRegulationListTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertLaw_LawRegulationListTableResult" nillable="true" type="q31:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertLaw_HSSEStandardsListTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="hsseStandardsList" nillable="true" type="q32:ArrayOfLaw_HSSEStandardsList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertLaw_HSSEStandardsListTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertLaw_HSSEStandardsListTableResult" nillable="true" type="q33:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertLaw_RulesRegulationsTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="rulesRegulations" nillable="true" type="q34:ArrayOfLaw_RulesRegulations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertLaw_RulesRegulationsTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertLaw_RulesRegulationsTableResult" nillable="true" type="q35:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertLaw_ManageRuleTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="manageRule" nillable="true" type="q36:ArrayOfLaw_ManageRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertLaw_ManageRuleTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertLaw_ManageRuleTableResult" nillable="true" type="q37:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTechnique_HAZOPTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="hazop" nillable="true" type="q38:ArrayOfTechnique_HAZOP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTechnique_HAZOPTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertTechnique_HAZOPTableResult" nillable="true" type="q39:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTechnique_AppraiseTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="appraise" nillable="true" type="q40:ArrayOfTechnique_Appraise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTechnique_AppraiseTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertTechnique_AppraiseTableResult" nillable="true" type="q41:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTechnique_EmergencyTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="emergency" nillable="true" type="q42:ArrayOfTechnique_Emergency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTechnique_EmergencyTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertTechnique_EmergencyTableResult" nillable="true" type="q43:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTechnique_SpecialSchemeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="specialScheme" nillable="true" type="q44:ArrayOfTechnique_SpecialScheme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTechnique_SpecialSchemeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertTechnique_SpecialSchemeTableResult" nillable="true" type="q45:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertInformation_AccidentCauseReportTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="accidentCauseReportList" nillable="true" type="q46:ArrayOfInformation_AccidentCauseReport" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="accidentCauseReportItemList" nillable="true" type="q47:ArrayOfInformation_AccidentCauseReportItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertInformation_AccidentCauseReportTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertInformation_AccidentCauseReportTableResult" nillable="true" type="q48:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertInformation_DrillConductedQuarterlyReportTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="drillConductedQuarterlyReportList" nillable="true" type="q49:ArrayOfInformation_DrillConductedQuarterlyReport" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="drillConductedQuarterlyReportItemList" nillable="true" type="q50:ArrayOfInformation_DrillConductedQuarterlyReportItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertInformation_DrillConductedQuarterlyReportTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertInformation_DrillConductedQuarterlyReportTableResult" nillable="true" type="q51:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertInformation_DrillPlanHalfYearReportTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="drillPlanHalfYearReportList" nillable="true" type="q52:ArrayOfInformation_DrillPlanHalfYearReport" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="drillPlanHalfYearReportItemList" nillable="true" type="q53:ArrayOfInformation_DrillPlanHalfYearReportItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertInformation_DrillPlanHalfYearReportTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertInformation_DrillPlanHalfYearReportTableResult" nillable="true" type="q54:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertInformation_MillionsMonthlyReportTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="millionsMonthlyReportList" nillable="true" type="q55:ArrayOfInformation_MillionsMonthlyReport" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="millionsMonthlyReportItemList" nillable="true" type="q56:ArrayOfInformation_MillionsMonthlyReportItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertInformation_MillionsMonthlyReportTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertInformation_MillionsMonthlyReportTableResult" nillable="true" type="q57:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertInformation_SafetyQuarterlyReportTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="safetyQuarterlyReportList" nillable="true" type="q58:ArrayOfInformation_SafetyQuarterlyReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertInformation_SafetyQuarterlyReportTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertInformation_SafetyQuarterlyReportTableResult" nillable="true" type="q59:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTraining_TrainingItemTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="trainingItem" nillable="true" type="q60:ArrayOfTraining_TrainingItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTraining_TrainingItemTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertTraining_TrainingItemTableResult" nillable="true" type="q61:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTraining_TrainTestDBItemTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="trainTestDBItem" nillable="true" type="q62:ArrayOfTraining_TrainTestDBItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTraining_TrainTestDBItemTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertTraining_TrainTestDBItemTableResult" nillable="true" type="q63:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertEduTrain_AccidentCaseItemTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="accidentCaseItem" nillable="true" type="q64:ArrayOfEduTrain_AccidentCaseItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertEduTrain_AccidentCaseItemTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertEduTrain_AccidentCaseItemTableResult" nillable="true" type="q65:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTraining_KnowledgeItemTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="knowledgeItem" nillable="true" type="q66:ArrayOfTraining_KnowledgeItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTraining_KnowledgeItemTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertTraining_KnowledgeItemTableResult" nillable="true" type="q67:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTechnique_HazardListTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="hazardList" nillable="true" type="q68:ArrayOfTechnique_HazardList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTechnique_HazardListTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertTechnique_HazardListTableResult" nillable="true" type="q69:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTechnique_RectifyItemTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="rectifyItem" nillable="true" type="q70:ArrayOfTechnique_RectifyItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTechnique_RectifyItemTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertTechnique_RectifyItemTableResult" nillable="true" type="q71:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTechnique_ExpertTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="expert" nillable="true" type="q72:ArrayOfTechnique_Expert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertTechnique_ExpertTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertTechnique_ExpertTableResult" nillable="true" type="q73:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertSupervise_SuperviseCheckRectifyTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="superviseCheckRectify" nillable="true" type="q74:ArrayOfSupervise_SuperviseCheckRectify" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertSupervise_SuperviseCheckRectifyTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertSupervise_SuperviseCheckRectifyTableResult" nillable="true" type="q75:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertHSSESystem_HSSEManageItemTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="HSSEManageItem" nillable="true" type="q76:ArrayOfHSSESystem_HSSEManageItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertHSSESystem_HSSEManageItemTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertHSSESystem_HSSEManageItemTableResult" nillable="true" type="q77:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertSupervise_UpCheckReportTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="upCheckReport" nillable="true" type="q78:ArrayOfSupervise_UpCheckReport" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="upCheckReportItem" nillable="true" type="q79:ArrayOfSupervise_UpCheckReportItem" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="upCheckReportItem2" nillable="true" type="q80:ArrayOfSupervise_UpCheckReportItem2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertSupervise_UpCheckReportTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertSupervise_UpCheckReportTableResult" nillable="true" type="q81:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertSupervise_SubUnitReportItemItemTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="subUnitReportItem" nillable="true" type="q82:ArrayOfSupervise_SubUnitReportItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertSupervise_SubUnitReportItemItemTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertSupervise_SubUnitReportItemItemTableResult" nillable="true" type="q83:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertCheck_CheckRectifyTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="checkRectify" nillable="true" type="q84:ArrayOfCheck_CheckRectify" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertCheck_CheckRectifyTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataInsertCheck_CheckRectifyTableResult" nillable="true" type="q85:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertHSSESystem_HSSEOrganizeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/BLL.OpenService" minOccurs="0" name="hsseOrganize" nillable="true" type="q86:HSSESystem_HSSEOrganize" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataInsertHSSESystem_HSSEOrganizeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataInsertHSSESystem_HSSEOrganizeTableResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>